<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <a href="#" class="navbar-brand">ZDH / LIME</a>
      </div>

      <div class="navbar-default">
          <ul class="nav navbar-nav">
              <li><a href="https://github.com/Prozak8" target="_blank">Github</a></li>
              <li><a href="https://zdh.netlify.com/" target="_blank">Portfolio</a></li>
              <li><a href="https://www.linkedin.com/in/zdh/" target="_blank">LinkedIn</a></li>
          </ul>
      </div>
  </div>
</nav>